// SPDX-License-Identifier: BSD-3-Clause
/dts-v1/;

#include "msm8953-xiaomi-common.dtsi"

/delete-node/ &cont_splash_mem;
/delete-node/ &qseecom_mem;

/ {
	model = "Xiaomi Mi Max 2";
	compatible = "xiaomi,oxygen", "qcom,msm8953";
	qcom,board-id= <26 0>;

	aliases {
		mmc0 = &sdhc_1;
		mmc1 = &sdhc_2;
	};

	
	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		framebuffer@90001000 {
			compatible = "simple-framebuffer";
			reg = <0 0x90001000 0 (1920 * 1080 * 3)>;

			width = <1080>;
			height = <1920>;
			stride = <(1080 * 3)>;
			format = "r8g8b8";

			power-domains = <&gcc MDSS_GDSC>;

			clocks = <&gcc GCC_MDSS_AHB_CLK>,
				 <&gcc GCC_MDSS_AXI_CLK>,
				 <&gcc GCC_MDSS_VSYNC_CLK>,
				 <&gcc GCC_MDSS_MDP_CLK>,
				 <&gcc GCC_MDSS_BYTE0_CLK>,
				 <&gcc GCC_MDSS_PCLK0_CLK>,
				 <&gcc GCC_MDSS_ESC0_CLK>;
		};
	};
//todo 
	reserved-memory {
		qseecom_mem: qseecom@84a00000 {
			reg = <0x0 0x84a00000 0x0 0x1e00000>;
			no-map;
		};
		
		adsp_fw_mem: adsp@8d600000 {
			reg = <0x0 0x8d600000 0x0 0x1200000>;
			no-map;
		};

		wcnss_fw_mem: wcnss@8e800000 {
			reg = <0x0 0x8e800000 0x0 0x700000>;
			no-map;
		};
		cont_splash_mem: cont-splash@90001000 {
			reg = <0x0 0x90001000 0x0 (1080 * 1920 * 3)>;
			no-map;
		};

		ramoops@9ff00000 {
			compatible = "ramoops";
			reg = <0x0 0x9ff00000 0x0 0x00100000>;
			console-size = <0x100000>;
		};
	};
	
	reg_tp_1p8v: regulator-tp-1p8v {
		compatible = "regulator-fixed";
		regulator-name = "tp_1p8v";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;

		gpio = <&msmgpio 61 GPIO_ACTIVE_HIGH>;
		
		startup-delay-us = <5000>;
		enable-active-high;
	};
	
	reg_tp_2p8v: regulator-tp-1p8v {
		compatible = "regulator-fixed";
		regulator-name = "tp_2p8v";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;

		gpio = <&msmgpio 128 GPIO_ACTIVE_HIGH>;
		
		startup-delay-us = <5000>;
		enable-active-high;
	};
	
	reg_fp_2p8v: regulator-fp-2p8v {
	
		compatible = "regulator-fixed";
		regulator-name = "fp_2p8v";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;

		gpio = <&msmgpio 139 GPIO_ACTIVE_HIGH>;
		enable-active-high;

	}
};

&panel
{
	reset-gpios = <&tlmm 35 GPIO_ACTIVE_LOW>;
};

&pmx_mdss_default {
	pins = "gpio35";
};

&pmx_mdss_sleep {
	pins = "gpio35";
};

&aw2013_led {
	status = "okay";

	led@1 {
		reg = <1>;
		color = <LED_COLOR_ID_WHITE>;
		function = LED_FUNCTION_KBD_BACKLIGHT;
		led-max-microamp = <5000>;
	};

};

&pm8953_l22 {
	regulator-min-microvolt = <2850000>;
};

&ft5406_ts {
	status = "okay";
	
	iovcc-supply = <&reg_tp_1p8v>;
	vcc-supply = <&reg_tp_2p8v>;
		
	touchscreen-size-x = <1080>;
	touchscreen-size-y = <1920>;

};

&sdhc_2 {
	cd-gpios = <&tlmm 133 GPIO_ACTIVE_LOW>;
};

&tlmm {
	gpio-reserved-ranges = <0 4>, <135 4>;
};

&panel {
	compatible = "xiaomi,oxygen-panel";
};
